.card-stack {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap:var(--cards-gap);
  padding: 0 var(--lateral-padding) 0 var(--lateral-padding);
  flex-shrink: 0;
  flex-grow: 0;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: calc(1920px - var(--lateral-padding) - var(--lateral-padding));
  margin-top: 1rem;
  gap: 1rem;
  width: 100%;
}

.card {
  width: 100%;
  border-radius: 20px;
  padding: 1px; 
  /* max-width: 1450px; */
  background: linear-gradient(
    to bottom,
    rgba(255,255,255,0.3),   /* light top */
    rgba(0,0,0,0)          /* dark bottom */
  );
}

.card-inner {
  border-radius: 20px; 
  
  background:
    radial-gradient(circle at 10% 110%, var(--color-primary-20), transparent 50%),
    radial-gradient(circle at 90% -10%, var(--color-secondary-20), transparent 50%),
    var(--bg-deep);

  padding: 48px 36px;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-header {
  display: grid;
  gap: 0.75rem;
}

.card-tags {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
}

.card-links {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.card-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 0 10px;
  border: 1px solid var(--text-muted-2);
  border-radius: 15px;
}

.card-tag > p {
  color: var(--text-muted-2);
  font-size: var(--font-xxs);
}

.role-card-footer {
  /* width: 350px; */
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  gap: 2rem;
}

.role-card-footer-element {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}