.education {
  --education-glow-y: -80%;
  padding: var(--vertical-spacing) var(--lateral-spacing) calc(var(--vertical-spacing)*1.5) var(--lateral-spacing);
  background:
    radial-gradient(circle at 50% var(--education-glow-y), var(--color-primary-20), transparent 70%),
    var(--bg-deep);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.education-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: calc(1920px - var(--lateral-spacing) - var(--lateral-spacing));
}

.education-stack {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.education-entry-wrapper {
  width: 100%;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

.education-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.education-entry-wrapper:last-child {
  border: none
}

.education-entry-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 1920px) {
  .education {
    --education-glow-y: max(calc(-180% - (100vw - 1920px)), -160%);
  }

  .education-stack {
    align-items: center;
  }
}